<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .container {
            height: 100vh;
        }
        .error-icon {
            font-size: 6rem;
        }
    </style>
</head>
<body class="bg-gray-100 items-center justify-center">
    <div class="container flex flex-col items-center justify-center text-center">
        <div class="error-icon text-red-600 text-9xl">☺</div>
        <h1 class="text-9xl font-bold text-gray-800 ">404</h1>
        <p class="text-lg text-gray-600">Oops! The page you're looking for does not exist.</p>
    </div>

    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>



